.containerHero {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}


.containerHero table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
    align-self: center;
}

.containerHero thead {
    background-color: #f2f2f2;
}

.containerHero thead th {
    padding: 12px;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #ccc;
    text-transform: uppercase;
}

.containerHero tbody tr {
    border-bottom: 1px solid #ccc;
}

.containerHero tbody td {
    padding: 12px;
    text-align: center;
    color: #555;
}

.containerHero tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.containerHero tbody tr:nth-child(even) {
    background-color: #fff;
}


.containerHero tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.containerHero td,
.containerHero th {
    border: 1px solid #ddd;
    padding: 8px;
}

.containerHero .registerHero {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.containerHero .registerHero select {
    width: 180px;
    padding: 2px;
}

.containerHero .actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.containerHero .actions .edit-icon {
    cursor: pointer;
    color: orange;
    transition: transform 0.3s ease, color 0.3s ease;
}

.containerHero .actions .delete-icon {
    cursor: pointer;
    color: red;
    transition: transform 0.3s ease, color 0.3s ease;
}

.containerHero .actions .edit-icon:hover {
    color: darkorange;
    transform: scale(1.2);
}

.containerHero .actions .delete-icon:hover {
    color: darkred;
    transform: scale(1.2);
}